.element__title {
    color: black;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 15px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.20;
}