.profile__info {
  color: white;
  display: grid;
  grid-template-columns: minmax(294px, 1fr) 24px;
  gap: 18px 16px;
  align-items: baseline;
  align-content: center;
  margin-left: 30px;
}

@media (max-width: 550px) {
  .profile__info {
    text-align: center;
    grid-template-columns: minmax(189px, 1fr) 24px;
    gap: 1px 10px;
    padding-left: 28px;
    margin: 0;
    margin-top: 26px;
  }
}